.container{
    width:70%;
    border: 1px solid black;
    margin: auto;
    padding: 5px;
} 

.kiri{
    width: 20%;
    height:500px;
    background-color: salmon;
    float:left;
}

.tengah{
    width:60%;
    height:500px;
    background-color: lightskyblue;
    float:left;
}

.kanan{
    width:20%;
    height:500px;
    background-color: limegreen;
    float:left;
}